<navbar></navbar>
<div class="row top-buffer">
  <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!-- <div class="absolute-wrapper"> </div> -->
  <!-- Menu -->
  <div class="side-menu">

    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="brand-wrapper">
          <!-- Hamburger -->
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Brand -->
          <div class="brand-name-wrapper">
            <a class="navbar-brand clickable">
                    Copia
                </a>
          </div>

          <!-- Search -->
          <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
            <span class="glyphicon glyphicon-search"></span>
          </a>

          <!-- Search body -->
          <div id="search" class="panel-collapse collapse">
            <div class="panel-body">
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- Main Menu -->
      <div class="side-menu-container">
        <ul class="nav navbar-nav">

                  <!-- Dropdown-->
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl1">
              <span class="glyphicon glyphicon-stats"></span> Portfolios <span class="caret"></span>
            </a>

            <!-- Dropdown level 1 -->
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a class="clickable">Retirement</a></li>
                  <li><a class="clickable">Aspirational</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li><a class="clickable"><span class="glyphicon glyphicon-send"></span> Link</a></li>
          <li class="active"><a class="clickable"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>
          <li><a class="clickable"><span class="glyphicon glyphicon-cloud"></span> Link</a></li>

          <li><a class="clickable"><span class="glyphicon glyphicon-signal"></span> Link</a></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>

  </div>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <h1> Add a goal</h1>

      <form [formGroup]="goalForm" (ngSubmit)="onSubmit(goalForm.value)">
        <h3>Select a goal:</h3>
        <select placeholder="Select Goal" name="goal" [formControl]="goalForm.controls['goalType']">
          <option *ngFor="let goal of goals" [value]="goal.value">
            {{goal.viewValue}}
          </option>
        </select>

        <br>
        <h3>What is the target amount that you wish to finish with?</h3>

        <input type="text"  
                   id="targetAmount"  
                   placeholder="TARGET"  
                   required type="number"
                   [formControl]="goalForm.controls['targetAmount']">  

        <br>
        <h3>What is the timeframe?</h3>

        <input type="text"  
                   id="numYears"  
                   placeholder="YEARS"  
                   required type="number"
                   [formControl]="goalForm.controls['numYears']">  


        <input type="text"  
                   id="numMonths"  
                   placeholder="MONTHS"  
                   required type="number"
                   [formControl]="goalForm.controls['numMonths']">  

        <br><br>

        <button type="submit">Submit</button>
      </form>


      <h2>Added Goals:</h2>
       {{selectedGoal}}

    </div>
  </div>
</div>
